/* ~~~~~~~~~~~~ Colors ~~~~~~~~~~~~~ */

$primary-color: #FFFFFF;
$secondary-color: #000000;
$tertiary-color: #00000029;
$quaternary-color: #08A6E4;
$quinary-color: #FB3B64;
$senary-color: #55DFB4;

/* ~~~~~~~~~~~~ Containers ~~~~~~~~~~~~~ */

$base-cont: 90%;

/* ~~~~~~~~~~~~ Spacing ~~~~~~~~~~~~~ */

$base-padding: 10px;

/* ~~~~~~~~~~~~ Fonts ~~~~~~~~~~~~~ */

$primary-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", sans-serif;

$primary-font-size: 1em;
$secondary-font-size: 2em;

/* ~~~~~~~~~~~~ Hamburger ~~~~~~~~~~~~~ */

$base-width: 60px;
$bar-height: 8px;
$hamburger-gap: 6px;
$hamburger-margin: 10px;
$animation-timing: 200ms ease-in-out;
$hamburger-height: calc($bar-height * 3 + $hamburger-gap * 2);
$x-width: calc($hamburger-height * 1.41421356237)
